
body {
  background: maroon;
  color: white;
  font-family: arial;
  height: auto;
  margin: 0px;
  padding: 0px;

}

div nav {
  width: 100%;
  height: 100px;
  background-color: grey;
  padding-bottom: 30px;
}

div nav ul li {
  color: white;
  display: block;
  text-decoration: none;
  width: 100px;
  font-weight: bold;
  text-align: center;
  margin: 45px;
  padding: 10px;
  box-sizing: border-box;
  border: grey solid;
  background-color: grey;
  float: left;
  text-align: center;
}

div nav ul li a {
  text-decoration: none;
}

div nav ul li a:hover {
  color: aqua;
}
.parallax {
    background-image: url("GC.jpeg");

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {
  width: 100%;
  float: left;
  margin: auto;
}
#header {
  right: 0px;
  left:0px;
  height:200px
  top: 0px;
}
.slide {
  padding: 0px;
  box-sizing: border-box;
  box-sizing: inherit;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}
#mainfooter {
  background-color: darkgrey;
  display: block;
  border-top: solid 10px;
  box-sizing: border-box;
  height: 350px;
  left: 0px;
  bottom: 0px;
  width:100%;
}
.container {
  width: 100%;
  position: relative;
  text-align: left;
  max-width: 1080px;
  margin: auto;
}
.locations {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 50px 20px 50px;
  position: relative;

}
.footerwidget {
  float: left;
}
.title1 {
  color: maroon;
}
.textwidget {
  color: white;
}
.SocialMedia {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 50px 20px 50px;
  position: relative;
}
.StayInformed {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 50px 20px 50px;
  position: relative;
}
.box {
  background-color: white;
  width: 131px;
}
.box1 {
  background-color: maroon;
  color: black;
  text-align: center;
}
