html {
  background-color: grey;
  font-family: arial;
  height: auto;
  margin: 0px;
  padding: 0px;

}

body {
  font font-family: sans-serif;
  font size: 1em;
  line-height: 1.5em;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul li {
  display: inline;
  float: left;
  margin: 50px;
}
.nav {
    border: solid black 10px;
    height: 150px;
}

ul li a {
  width: 90px;
  font-weight: bold;
  color: white;
  background-color: grey;
  text-align: center;
  padding: 4px;
  text-transform: uppercase;
}

ul li a:hover, a:active {
	color: aqua;
}

h1 {
  color: maroon;
}

h2 {
  color: white;
}

p {
  color: white;
}
.parallax {
    background-image: url("GC.jpeg");

    min-height: auto;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section {

  width: 100%;
  float: left;
  margin: 10px;
  padding: 20px;
}

.contact {
  font-size: 25pt;
}


#header {
  right: 0px;
  left:0px;
  height:200px
  top: 0px;
}
.slide {
  padding: 0px;
  box-sizing: border-box;
  box-sizing: inherit;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

#mainfooter {
  background-color: none;
  display: block;
  border-top: solid 10px;
  box-sizing: border-box;
  height: 500px;
  left: 0px;
  bottom: 0px;
  width:100%;
}

.container {
  width: 100%;
  position: relative;
  text-align: left;
  max-width: 1080px;
}

.locations {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 130px 20px 100px;
  position: relative;
  border: solid black 15px;
  width: 200px;
  height: 400px;
}

.footerwidget {
  float: left;
}

.title1 {
  color: maroon;
}
.textwidget {
  color: white;
}

.SocialMedia {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 130px 20px 80px;
  position: relative;
  border: solid black 15px;
  width: 200px;
  height: 400px;
}

.StayInformed {
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
  padding: 0px 80px 20px 50px;
  position: relative;
  border: solid black 15px;
  width: 200px;
  height: 400px;
}

.box {
  background-color: white;
  width: 131px;
}

.box1 {
  background-color: maroon;
  color: black;
  text-align: center;
}

li a {
  text-decoration: none;
}
